/***********************************
************ ARTICAL 1 *************
************************************/

article {
    background-color: black;
    color: white;
}

article .art1 {
    display: flex;
    min-height: 100vh;
    align-items: center;
    gap:40px;

}

.img_about {
    width: 100%;
}
.about_text h1{
    font-size: 3em;
}
.para_about{
    color:gray;
    margin:20px 0 20px 0;
}
article .bt {
    text-decoration:none;
    color:orange;
    background:rgba(128, 128, 128, 0.201);
    padding: 10px 20px;
    border-radius: 20px;
}